<div class="page-header">
  <h1>Showing Person <%= @person.name %></h1>
</div>

<h2>Organizations</h2>

<table>
  <thead>
    <tr>
      <th>
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <% @person.organizations.each do |organization| %>
    <tr>
      <td><%= organization.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
